
@font-face{
	font-family: 'montserrat';
	src: url('../fonts/montserrat/montserrat.ttf') format('truetype');
	src: url('../fonts/montserrat/montserrat.woff') format('woff'),
	url('../fonts/montserrat/montserrat.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/latoregular.woff2') format('woff2'), 
	url('../fonts/lato/latoregular.woff') format('woff'), 
	url('../fonts/lato/latoregular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Cabin';
	src: url('../fonts/cabin/Cabin-Regular.otf'), 
	url('../fonts/cabin/cabinregular.woff2') format('woff2'), 
	url('../fonts/cabin/cabinregular.woff') format('woff'), 
	url('../fonts/cabin/cabinregular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/lato/latobold.woff2) format('woff2'), url(../fonts/lato/latobold.woff) format('woff'), url(../fonts/lato/latobold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}
a, a:hover{
	text-decoration: none;
}


body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	overflow-x: hidden;
	opacity: 1;
	padding-right: 5%;
	padding-left: 5%;
}
header{
	/* min-height: 700px/; */
	/* height: 100vh; */
	background-color: #817f7c;
		/* color: #fff; */
}
		
.top-line{
	padding-top: 40px;
	position: absolute;
	width: 100%;
	z-index: 1 
}
.logo img{
	width: 190px;
	height: auto;
	background-color: #fff;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active{
	color: #ffffff;
	font-family: montserrat;
	font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #4ecb8c;
	transition: color .25s ease;
}
.navbar-nav {
	margin-right: 10%;
}
.navbar-light .navbar-toggler {
	color: #ffffff;
	border-color: #fff;
	border: none;
}
.navbar-light .navbar-toggler:focus {
	outline: none !important;
	transition: color .25s ease;
	/* outline-color: #4ecb8c;
	transition: color .25s ease; */
}
.navbar-light .navbar-toggler-icon {
	
  width: 2em;
  height: 2em;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='1' stroke-linecap='butt' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler-icon:hover{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#4ecb8c' stroke-width='3' stroke-linecap='butt' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	transition: color .25s ease;
}
.navbar-toggler{
	margin-right: 10%;
}
.header-composition{
	text-align: start;
	position: relative;
	display: flex;
	margin-bottom: 130px;
}
.header-composition h1{
	margin-top: 290px;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.13);
  font-family: Cabin;
	font-size: 60px;
	color: #ffffff;
	white-space: nowrap;
}
.header-composition p{
	margin-top: 30px;
	margin-bottom: 65px;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.13);
  /* font-family: Lato; */
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
@media screen and (max-width: 992px){
	.header-composition h1{
		font-size: 50px;
	}
}
@media screen and (max-width: 768px){
	.header-composition h1{
		font-size: 40px;
		white-space: unset;
		}
	.header-composition p{
		font-size: 15px;
		
	}
}
.button{
	
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: #4ecb8c;
	padding: 17px 20px;
	font-family: Lato;
	font-size: 16px;
	text-transform: uppercase;
	font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
	font-weight: 600;
	border-radius: 5px;
	text-align: left;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
	
}
.header-composition .button:hover{
	color: #4ecb8c;
	background-color: #fff;
	transition: background-color .3s ease;
}
section{
	position: relative;
	background-size: cover;
	background-position: center;
	background-color: #fff;
	padding-top: 130px;
	padding-bottom: 130px;
}
section h2{
	text-transform: capitalize;
	font-size: 48px;
	font-family: Cabin;
	font-weight: normal;
	text-align: center;
}
section h2 .inverse{
	color: #ffffff;
}
section h3{
	font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  /* line-height: 0.33; */
  letter-spacing: normal;
  text-align: center;
	color: #000000;
	text-transform: uppercase;
}
 h4{
	font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  /* line-height: 0.38; */
  letter-spacing: normal;
  text-align: right;
  color: #666666;
}
.features{
	
	text-align: center;
}
.features h2{
	margin: auto;
	text-transform: none;
	text-align: center;
	margin-bottom: 95px;
}
.icon{
	background-color: #36c36e;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin: -35px auto;
	position: static;
}
.fas{
	/* width: 30px;
  height: 29px; */
	color: #ffffff;
	margin-top: 23.5px;
}
.features-items{
	/* border: 2px;
	border-color: #000000;
	border-style: solid; */
	background-color: #fff;
	box-shadow: 1px 1px 7px 3px  rgba(0, 0, 0, 0.13);
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 28px;
	
}
@media screen and (max-width: 768px){
	.features-items{
		margin-bottom: 50px;
	}
	.features-items :last-child{
		margin-bottom: 0;
	}
}
.features-items h3{
	margin-top: 58px;
	margin-bottom: 23px;

}
@media screen and (max-width: 992px){
	.features-items h3{
		white-space: nowrap;
	}
}
 p{
	font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
}
.s-story{
	background-color: #e3e3e3;
	
}
.s-story h2{
	text-align: left;
}
.s-story p{
	text-align: left;
	margin-top: 44px;
	margin-bottom: 37px;
}
.s-story .button{
	display: inline-block;
	border: solid 2px;
	color: #000000;
	text-decoration: none;
	background-color:transparent;
	padding: 16px 20px;
	font-family: Lato;
	font-size: 16px;
	text-transform: uppercase;
	font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
	font-weight: 600;
	border-radius: 5px;
	text-align: left;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
}
.s-story .button:hover{
	color:#fff;
	background-color: #000000;
	transition: background-color .3s ease;
}

.speech-bubble {
	padding: 30px 40px 20px 28px;
	position: relative;
	background: #ffffff;
	border-radius: .4em;
	border: 2px;
	border-color: rgba(0, 0, 0, 0.13);
	border-style: solid;
}

.speech-bubble:after {
	content: "\00a0";
	background-color: #ffffff;
	box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.13);
	position: absolute;
	bottom: 6px;
	display: block;
	left: 92%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	/* border-bottom: 1; */
	margin-left: -14px;
	margin-bottom: -14px;
	transform:             rotate(-45deg );
			-moz-transform:    rotate( -45deg );
			-ms-transform:     rotate( -45deg );
			-o-transform:      rotate( -45deg );
			-webkit-transform: rotate( -45deg );
}
@media screen and (min-width: 1200px){
	.speech-bubble:after{
		left: 95%;
	}
}
.speech-bubble p{
	font-family: Lato;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}
.s-testimonials h2{
	margin-bottom: 65px;
}
.photo{
	background-color: #999999
	;
	width: 58.2px;
	height: 58.2px;
	border-radius: 50%;
	margin: 20px auto;
}
.testimonials-items h3{
	text-transform: capitalize;
	text-align: right;
	margin-top: 23px;
	margin-bottom: 7px;
}
.s-info{
	background-color: #292b3b;
}
.s-info h2 {
	text-align: left;
	color: #ffffff;
	margin-bottom: 1em;
}
.s-info p {
	text-align: left;
	color: #ffffff;
	margin-bottom: 0;
}
.s-info .button{
	border: solid 2px;
	color: #ffffff;
	text-decoration: none;
	background-color:transparent;
	margin-top: 2em;
}
@media screen and (max-width: 768px){
	.s-info .button{
		margin-bottom: 3em;
	}
}
.s-info .button:hover{
	color:#000;
	background-color: #ffffff;
	transition: background-color .3s ease;
	}
	progress{
		width: 100%;
    background-color: #f3f3f3;
  border: 0;
  height: 18px;
	border-radius: 9px;
	margin-bottom: 1em;
	}
	#pr5{
		margin-bottom: 0;
	}
	progress::-webkit-progress-bar {
		background-color: #fff;
	}
	progress::-webkit-progress-value {
		background-color:  #36c36e;
	}
	a.tooltips {
    position: relative;
		display: inline;
		
}
a.tooltips span {
	width: 41px;
  height: 33px;
  background-color: #000000;
    position: absolute;
    color: #FFFFFF;
    line-height: 28px;
    text-align: center;
    visibility: hidden;
		border-radius: 6px;
		margin-bottom: 1em;
}
a.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
		border-left: 8px solid transparent;
		
		;
}
a:hover.tooltips span {
    visibility: visible;
    /* opacity: 0.6; */
    bottom: 30px;
    left: 91%;
    /* margin-left: -76px; */
		z-index: 999;
		
}
span#value.net{
	left: 71%;
}
span#value.html5{
	left: 76%;
}
span#value.jQuery{ 
	left: 51%;
}
span#value.anglular{
	left: 81%;
	margin-bottom: 0;
}
.blog-image{
	background-color: #999999
	;
	width: auto;
	height: 205px;
	
	margin: 4em auto 2em;
}
.s-blog h3{
	text-transform: capitalize;
	text-align: left;
	margin-bottom: 2em;
}
.s-blog h4{
	text-align: left;
	font-size: 14px;
	letter-spacing: normal;
}
.fa-comment-alt{
	margin-left: 2em;

}
.blog-info{
	padding-left: 1em;
	padding-right: 1em;
}
.s-blog p{
	text-align: left;
	margin-top: 1em;
}
.prefooter{
	background-color: #36c36e;
	padding: 4em 0 4em;
}
.prefooter h3{
	font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
	color: #ffffff;
	text-transform: none;
}
.prefooter p{
	text-align: left;
  color: #ffffff;
}
.prefooter .button{
	border: solid 2px;
	color: #ffffff;
	background-color: transparent;
	margin-right: 1em;
}
.prefooter .button:hover{
	color: #4ecb8c;
	background-color: #fff;
	transition: background-color .3s ease;
	border-color: #36c36e;
}
.main-footer{
	background-color: #232323;
	padding: 3em 0;
}
.main-footer h4{
	color: #fff;
	text-align: left;
	text-transform: uppercase;
}
@media screen and (max-width: 768px){
	.main-footer h4{
		margin-top: 1em;
	}
}
.main-footer p{
	color: #ffffff;
	text-align: left;
	font-size: 14px;
}
@media (min-width: 768px) and (max-width: 992px) {
	.main-footer .logo img{
		width: 150px;
	}
}